html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

#home-page-section{
    height: 100vh;
    background: linear-gradient(to top, #3B448F, #6F7DFB);
}

.navBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar ul li {
    display: inline-block;
    margin-right: 7vw;
    
}

.navBar ul {
    display: flex;
    justify-content: space-between;
    padding: 5vw 0;
    margin: 0 10vw;
}

.navBar ul li:last-child{
    margin-right: 0;
}

#GD{
    font-size: 40px;
}

button{
    padding: 20px;
    font-size: 18;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #023047;
    color: white;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
}

#aside-page1{
    width: 457px;
    margin: 0 10vw;
}

#aside-page1 h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

#aside-page1 p{
    font-size: 16;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    line-height: 30px;
}

#aside-page1 button
{
    background-color: #DA722C;
    padding: 15px 30px;
}

.objeto{
    position: absolute;
}

.background-button
{
    width: 213px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 0.5vw;
    background: linear-gradient(to top, #3B448F, #6F7DFB);
    margin-top: -33px;
    z-index: 1;

}

#student-enrolled{
    width: 213px;
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-around;
    margin-top: -3vw;
    z-index: 2;
}

#student-enrolled h3,
#student-enrolled p{
    margin: 0;
    padding: 0;
    color: #023047;
}

#student-enrolled h3{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: -13px;
}

#student-enrolled p{
    font-weight: 100;
    padding-bottom: 10px;
}

#aside-middle-page1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overall-rating
{
    width: 183px;
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-around;  
    margin-top: 12vw;
}

#overall-rating h3,
#overall-rating p
{
    margin: 0;
    padding: 0;
    color: #023047
}

#overall-rating h3{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: -13px;
}

#overall-rating p{
    font-weight: 100;
    padding-bottom: 10px;
}
